<table class="table">
  <th>店舗名</th>
  <th>評価</th>
  <th>予算</th>
  <th></th>
  <% shops.each do |shop| %>
    <tr align="left" valign="bottom">
      <td><%= link_to shop.name, shop_path(shop) %></td>
      <% if shop.avg_score == 0 %>
        <td>未評価</td>
      <% else %>
        <td><%= shop.avg_score %>点(<%= shop.reviews.count %>件の評価)</td>
      <% end %>
      <td><%= shop.minimum_price %>~<%= shop.max_price %>円</td>
      <td width="40%">
        <% shop.images.first(1).each do |image| %>
          <%= attachment_image_tag(image, :food_image, class:"shop-image-index ml-2 mt-2 pb-2") %>
          <%= attachment_image_tag(image, :shop_image, class:"shop-image-index ml-2 mt-2 pb-2") %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>