<!DOCTYPE html>
<html>
  <head>
    <title>Quickrant</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/6da12e37c1.js" crossorigin="anonymous"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap"></script>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light shadow-sm">
        <div class="container">
          <a class="navbar-brand" href="/"><%= image_tag("logo.png", size: '130x90') %></a>
          <button class="navbar-toggler"type="button" data-toggle="collapse"data-target="#navbarSupportedContent"aria-controls="navbarSupportedContent"aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
              <% if user_signed_in? %>
                <li><%= link_to "マイページ", user_path(current_user),class:"nav-link text-white mr-5" %></li>
                <li><%= link_to "#{current_user.current_prefectures}のお店", shops_path, class: "nav-link text-white mr-5" %></li>
                <li><%= link_to "新規店舗登録", new_shop_path, class: "nav-link text-white mr-5" %></li>
                <li><%= link_to "ログアウト", destroy_user_session_path,method: :delete, class: "nav-link text-white mr-5" %></li>
              <% elsif admin_signed_in? %>
                <li><%= link_to "お店管理", admin_root_path, class: "nav-link text-white mr-5" %></li>
                <li><%= link_to "", admin_root_path, class: "nav-link text-white mr-5" %></li>
                <li><%= link_to "Log out", admin_root_path ,method: :delete,class:"nav-link text-white mr-5" %></li>
              <% else %>
                <li><%= link_to "検索", root_path, class: "nav-link text-white mr-5" %></li>
                <li><%= link_to "お店", shops_path, class: "nav-link text-white mr-5" %></li>
                <li><%= link_to "新規登録", new_user_registration_path, class: "nav-link text-white mr-5" %></li>
                <li><%= link_to "ログイン", new_user_session_path, class: "nav-link text-white mr-5" %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
